@import url('https://fonts.googleapis.com/css?family=Roboto:500,400,300');
@import 'utils';

html, body {
  background: whitesmoke;
  height: calc(100vh - 64px);
  @media (max-width: 599px) {
    height: calc(100vh - 56px);
  }
  * {
    font-weight: 400;
  }
}
.container {
  text-align: center;
}
.main-container {
  margin-top: 15rem;
}
.container-fluid {
  padding-left: unset;
  padding-right: unset;
}
header a {
  color: white;
}
app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
}


.logo-img-container {
  width: 100px;
  cursor: pointer;
  position: absolute;
  left: 4px;
  top: 3px;
}
.logo-img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  width: 49px;
  background-color: transparent !important;
  float: left;
}

.goTopButton {
  cursor: pointer;
  position: fixed !important;
  bottom: 1.5em;
  right: 1.5em;
  background-color: $df-gold !important;
  font-size: 2rem !important;
  z-index: 2;
  .mat-icon {
    color: white;
  }
}
.mat-tab-body-content {
  overflow-x: hidden !important;
}
.spinner-wrapper {
  min-height: 500px;
}
.dialog-wrapper {
  display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 40vh;
  min-width: 400px;
  @media screen and (max-width: 426px){
    min-width: 250px;
  }
  overflow-x: hidden;
  //text-align: center;
  position: relative;
}
.mat-dialog-actions {
  text-align: right;
  width: 100%;
  margin-bottom: unset !important;
}
.mat-dialog-content {
  overflow: unset !important;
}
.mat-dialog-title {
  font-size: 26px !important;
}
button {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mat-row {
  &:hover {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    // -webkit-transform: scale(1.0001);
    // -ms-transform: scale(1.0001);
    // transform: scale(1.0001);
    background-color: $df-yellow;
  }
}
