@import url('https://fonts.googleapis.com/css?family=Poiret+One');

.container {
  text-align: center;
  margin-top: 15rem;

}
header a {
  color: white;
}
app-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.navbar-toggler-icon {
  color: white;
}
.col-product {
  margin-top: 2rem;
  * {
    font-family: 'Poiret One', cursive !important;
    font-size: 20px !important;
    line-height: 2.5rem !important;
  }
}
.product-header {
  text-align: left;
}
.toolbar-first-row {
  background-color: black;
}
.space {
  flex: 1 1 auto;
}
.logo-img-container {
  width: 100px;
  cursor: pointer;
}
.logo-img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  width: 50px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;

  a {
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 3.5rem;
    cursor: pointer;
    &:hover {
      color: $df-gold;
    }
    .phone-number {
      font-size: 2rem;
    }
  }
}
.search-input {
  width: 100%;
  min-width: 150px;
  //max-width: 600px;
  max-height: 100%;
  mat-form-field {
    width: 100%;
    font-size: 14px;
  }
  mat-icon {
    font-size: 3rem !important;
  }
}
.search-icon {
  font-size: 3.5rem;
}
.goTopButton {
  cursor: pointer;
  position: fixed !important;
  bottom: 1.5em;
  right: 1.5em;
  background-color: $df-gold !important;
  font-size: 2rem !important;
  z-index: 2;
}
