// position and display
.df-display-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.df-flex-direction-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.df-flex-direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.df-height-full {
  height: 100%;
}
.df-flex-wrap-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.df-flex-justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.df-flex-justify-flex-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.df-flex-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.df-flex-align-flex-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.space {
  flex: 1 1 auto;
}
.df-width-full {
  width: 100%;
}
.df-pos-absolute {
  position: absolute;
}
.df-overflow-hidden {
  overflow: hidden;
}
.df-text-overflow {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.df-no-padding {
  padding: 0;
}
.df-no-margin {
  margin: 0;
}
.df-overflow-auto {
  overflow: auto;
}
.df-overflow-x-hidden {
  overflow-x: hidden;
}
.df-overflow-y-hidden {
  overflow-y: hidden;
}
.df-pos-relative {
  position: relative;
}
.df-mt-icon {
  margin-top: 1.2rem !important;
}

//typoghraphy
.df-font-weight-600 {
  font-weight: 600 !important;
}


// coloring
.df-color-red {
  color: #FF1654;
}
.df-color-pale-green {
  color: #B2DBBF;
}
.df-color-green {
  color: #70C1B3;
}
.df-color-yellow {
  color: #f3ffbd;
}
.df-color-blue {
  color: #247BA0;
}
.df-color-white {
  color: #ffffff;
}
.df-color-black {
  color: #000000;
}
.df-color-gold {
  color: #f1bd7f;
}
.df-color-warn {
  color: #f44336;
}
.df-color-dark-blue {
  color: #0d47a1;
}
.df-color-dark-purple {
  color: #00205b;
}
.df-bg-color-blue {
  background-color: #247BA0;
}
.df-bg-color-gold {
  background-color: #f1bd7f;
}
.df-bg-color-dark-blue {
  background-color: #0d47a1;
}
.df-bg-color-dark-purple {
  background-color: #00205b;
}
.df-bg-color-mat-blue {
  background-color: #2196F3;
}
.df-bg-color-yellow {
  background-color: #f3ffbd;
}
.df-bg-color-green {
  background-color: #70C1B3;
}
.df-bg-color-pale-green {
  background-color: #B2DBBF;
}
.df-bg-color-red {
  background-color: #FF1654;
}
.df-bg-color-black {
  background-color: #000000;
}
.df-bg-color-white {
  background-color: #ffffff;
}
.df-bg-color-main {
  background-color: whitesmoke;
}
