//colors

$df-gold: #FFC107 !default;
$df-material-blue: #2196F3 !default;
$df-blue: #247ba0 !default;
$df-cyan: #00BCD4 !default;
$df-yellow: #f3ffbd !default;

$df-primary-palette: (
  50 : #e5eff4,
  100 : #bdd7e3,
  200 : #92bdd0,
  300 : #66a3bd,
  400 : #458fae,
  500 : #247ba0,
  600 : #207398,
  700 : #1b688e,
  800 : #165e84,
  900 : #0d4b73,
  A100 : #a6d8ff,
  A200 : #73c2ff,
  A400 : #40acff,
  A700 : #26a1ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$df-accent-palette: (
    50 : #fefff7,
    100 : #fbffeb,
    200 : #f9ffde,
    300 : #f7ffd1,
    400 : #f5ffc7,
    500 : #f3ffbd,
    600 : #f1ffb7,
    700 : #efffae,
    800 : #edffa6,
    900 : #eaff98,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

// position and display
.df-display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.df-flex-direction-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.df-flex-direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.df-height-full {
  height: 100%;
}
.df-flex-wrap-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.df-flex-justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.df-flex-justify-flex-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.df-flex-align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.df-flex-align-flex-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.space {
  flex: 1 1 auto;
}
.df-width-full {
  width: 100%;
}
.df-pos-absolute {
  position: absolute;
}
.df-overflow-hidden {
  overflow: hidden;
}
.df-text-overflow {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.df-no-padding {
  padding: 0;
}
.df-no-margin {
  margin: 0;
}
.df-overflow-auto {
  overflow: auto;
}
.df-overflow-x-hidden {
  overflow-x: hidden;
}
.df-overflow-y-hidden {
  overflow-y: hidden;
}
.df-pos-relative {
  position: relative;
}

//typoghraphy
.df-font-weight-600 {
  font-weight: 600 !important;
}


// coloring
.df-color-red {
  color: #FF1654;
}
.df-color-pale-green {
  color: #B2DBBF;
}
.df-color-green {
  color: #70C1B3;
}
.df-color-yellow {
  color: #f3ffbd;
}
.df-color-blue {
  color: #247BA0;
}
.df-color-white {
  color: #ffffff;
}
.df-color-black {
  color: #000000;
}
.df-color-gold {
  color: #f1bd7f;
}
.df-color-dark-blue {
  color: #0d47a1;
}
.df-bg-color-blue {
  background-color: #247BA0;
}
.df-bg-color-gold {
  background-color: #f1bd7f;
}
.df-bg-color-dark-blue {
  background-color: #0d47a1;
}
.df-bg-color-mat-blue {
  background-color: #2196F3;
}
.df-bg-color-yellow {
  background-color: #f3ffbd;
}
.df-bg-color-green {
  background-color: #70C1B3;
}
.df-bg-color-pale-green {
  background-color: #B2DBBF;
}
.df-bg-color-red {
  background-color: #FF1654;
}
.df-bg-color-black {
  background-color: #000000;
}
.df-bg-color-white {
  background-color: #ffffff;
}
.df-bg-color-main {
  background-color: whitesmoke;
}
