//colors

$df-gold: #ffc107 !default;
$df-material-blue: #2196f3 !default;
$df-blue: #247ba0 !default;
$df-cyan: #00bcd4 !default;
$df-yellow: #f3ffbd !default;
$df-dark-purple: #00205b !default;
$df-gray-900: #1a202c !default;

$df-primary-palette: (
  50: #e6eaf0,
  100: #c0cbda,
  200: #96a9c1,
  300: #6b86a8,
  400: #4c6c95,
  500: #2c5282,
  600: #274b7a,
  700: #21416f,
  800: #1b3865,
  900: #102852,
  A100: #8bb0ff,
  A200: #588dff,
  A400: #256bff,
  A700: #0b5aff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

$df-accent-palette: (
  50: #fefff7,
  100: #fbffeb,
  200: #f9ffde,
  300: #f7ffd1,
  400: #f5ffc7,
  500: #f3ffbd,
  600: #f1ffb7,
  700: #efffae,
  800: #edffa6,
  900: #eaff98,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
