 //colors

$df-gold: #FFC107 !default;
$df-material-blue: #2196F3 !default;
$df-blue: #247ba0 !default;
$df-cyan: #00BCD4 !default;
$df-yellow: #f3ffbd !default;
$df-dark-purple: #00205b !default;

$df-primary-palette: (
  50 : #e5eff4,
  100 : #bdd7e3,
  200 : #92bdd0,
  300 : #66a3bd,
  400 : #458fae,
  500 : #247ba0,
  600 : #207398,
  700 : #1b688e,
  800 : #165e84,
  900 : #0d4b73,
  A100 : #a6d8ff,
  A200 : #73c2ff,
  A400 : #40acff,
  A700 : #26a1ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$df-accent-palette: (
    50 : #fefff7,
    100 : #fbffeb,
    200 : #f9ffde,
    300 : #f7ffd1,
    400 : #f5ffc7,
    500 : #f3ffbd,
    600 : #f1ffb7,
    700 : #efffae,
    800 : #edffa6,
    900 : #eaff98,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
