<div class="row dialog-wrapper">
  <h1 mat-dialog-title class="text-left">{{parameter.id ? 'Parametre Türü Düzenle' : 'Parametre Türü Ekle'}}</h1>
  <div mat-dialog-content>
    <div class="col-sm-6">
      <mat-form-field class="df-width-full">
        <input
          type="text"
          placeholder="İsim"
          matInput
          [(ngModel)]="parameter.name"
          required
        />
      </mat-form-field>
      <small class="df-color-warn" *ngIf="parameter.id">* Dikkat, bu değeri değiştirmek uygulamanın bazı fonksiyonlarını bozabilir!</small>
    </div>
    <div class="col-sm-6">
      <mat-form-field class="df-width-full">
        <input
          type="text"
          placeholder="Görünür İsim"
          matInput
          [(ngModel)]="parameter.displayName"
          required
        />
      </mat-form-field>
    </div>
    <div class="col-sm-6 mt-4">
      <mat-form-field class="df-width-full">
        <mat-label>Parametre Türü *</mat-label>
        <mat-select [(ngModel)]="parameter.parameterType" name="parameterType">
            <mat-option *ngFor="let parameterType of parameterTypes" [value]="parameterType.id">
              {{parameterType.display_name}}
            </mat-option>
        </mat-select>
      </mat-form-field>
      <small class="df-color-warn" *ngIf="parameter.id">* Dikkat, bu değeri değiştirmek uygulamanın bazı fonksiyonlarını bozabilir!</small>
    </div>
  </div>
  <div mat-dialog-actions>
    <div class="col-xs-12">
      <button mat-button (click)="onCancelClicked()">Vazgeç</button>
      <button mat-button color="primary" (click)="onSaveClicked()">
        <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
        <span *ngIf="!loading">Kaydet</span>
      </button>
    </div>
  </div>
</div>
