@import '../../../assets/scss/variables';

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  //CSS

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px){

  //CSS

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) {

  .image-box {
    height: 84px;
    padding: 3px 0;
  }
  ::ng-deep .ngxImageZoomContainer, .mobile-viewer{
    height: 400px !important;
  }

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  ::ng-deep .ngxImageZoomContainer, .mobile-viewer{
    height: 350px !important;
  }
  .image-box {
    height: 70px;
    padding: 3px 0;
  }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  ::ng-deep .ngxImageZoomContainer, .mobile-viewer{
    height: 200px !important;
  }
  .mat-card {
    padding: .5rem;
  }
  .image-box {
    height: 64px;
    padding: 0 3px;
  }

}

@media only screen and (min-width: 768px) {
  .current-image-container {
    order: 2;
  }
  .all-images-container {
    order: 1;
    align-items: center;
  }
  .fa-chevron-left, .fa-chevron-right {
    display: none;
  }
  .mobile-viewer {
    display: none;
  }


}
@media only screen and (max-width: 767px) {
  .fa-chevron-up, .fa-chevron-down {
    display: none;
  }
  .left-container {
    margin-bottom: 4rem;
    min-height: 400px;
  }
  ngx-image-zoom {
    display: none;
  }

}
.current-image-container {
  border-radius: 4px;
  max-height: 75vh;
}
.current-image {
  height: 100%;
  width: 100%
}
.all-images-container {
  justify-content: space-between;
}
.image-box {
  cursor: pointer;
  //height: 64px;
  &:hover {
    -webkit-filter: unset;
    filter: unset;
  }
}
.gray-scale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
::ng-deep .ngxImageZoomContainer{
  width: unset !important;
  height: 65vh;
}
::ng-deep .ngxImageZoomContainer > img {
  height: 100%;
  width: 100%;
}

::ng-deep .ngxImageZoomFullContainer.ngxImageZoomLensEnabled{
  border: 1px solid $df-blue !important;
}

.image-box > img{
  border-radius: 4px;
}
