<header class="navbar sticky-top navbar-expand-lg bg-dark">
    <div class="container df-navbar">
      <a class="navbar-brand" href="#">DF Handcraft</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse">
        <span class="navbar-toggler-icon">
          <fa-icon [icon]="faDown" size="lg"></fa-icon>
        </span>
      </button>

      <div class="collapse navbar-collapse justify-content-around">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
  </div>
</header>


