.card-product{
  max-width: 400px;
  margin: 1rem auto;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  border-radius: 10px !important;
  cursor: pointer;
  overflow: hidden;
}
.mat-card-footer {
  bottom: 20px;
  padding: 0 0 5px 16px;
}
.mat-card-content {
  max-height: 150px;
}
.product-header {
  text-align: left;
}
.col-product {
  margin-top: 1rem;
  margin-bottom: 1rem;
  * {
    font-size: 16px;
    line-height: 2.5rem !important;
  }
}
.desc-text {
  width: 56px;
  border-radius: 10px;
  padding: 2px;
}
