<div class="row">
  <mat-progress-spinner *ngIf="loading"
                        class="spinner"
                        color="primary"
                        mode="indeterminate">
  </mat-progress-spinner>
  <ng-container *ngIf="!loading">
      <div class="col-12 col-md-6 col-lg-4 col-product" *ngFor="let model of products" >
        <mat-card class="card-product" (mouseenter)="mouseEntered(model.id)" (mouseleave)="mouseLeft(model.id)" [routerLink]="'urunler/' + model.id + '/detay'">
          <mat-card-header class="product-header">
            <mat-card-title>
              {{model.name}}
            </mat-card-title>
            <mat-card-subtitle>
              {{model.category?.display_name}}
            </mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../../../assets/images/df-sample.jpg" alt="Sample Image">
          <ng-container *ngIf="isHovered[model.id]" class="product-content">
                <span class="desc-text">
                  <mat-chip-list class="desc-field">
                  <mat-chip [selected]="true" color="primary">Ürün Kodu: {{model.id}}</mat-chip>
                  <mat-chip [selected]="true" color="accent">{{model.price + ' &#8378;'}}</mat-chip>
                </mat-chip-list>
                </span>
          </ng-container>
        </mat-card>
    </div>
  </ng-container>
</div>
