<header>
  <div class="container-fluid">
    <mat-toolbar>
      <mat-toolbar-row class="toolbar-first-row mat-elevation-z2 df-bg-color-black">
            <button mat-fab (click)=onLogoClicked() class=" mat-elevation-z10 logo-img">
              <span class="logo-img-container"><img class="logo-img" src="assets/images/df-letters-only.png"></span>
            </button>
            <a href="/admin-panel">
              <img src="assets/images/admin.svg">
            </a>
        <span class="space"></span>
        <div class="user-container">
          <button mat-button (click)="onDropdownClicked()" (mouseenter)="onUserContainerMouseEntered()" (mouseleave)="onUserContainerMouseLeft()">
            <i class="fa fa-lg fa-user-circle"></i>
            <span class=username>{{ currentUser?.email }}</span>
            <i class="fa fa-chevron-down ml-2"></i>
          </button>
          <div @actionPanel class="actions-panel mat-elevation-z1" (mouseenter)="panelHovered=true" *ngIf="panelVisible || panelHovered" (mouseleave)="panelHovered=false">
            <ul class="df-no-padding">
              <li *ngFor="let item of actions" (click)="onActionClicked(item.action)">
                {{item.name}}
              </li>
            </ul>
          </div>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</header>
