@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';
footer {
  @include breakpoint(tablet) {
    padding: 0 32px !important;
  }
  @include breakpoint(laptop) {
    padding: 0 128px !important;
  }
  position: relative;
  height: 64px;
  width: 100%;
  bottom: 0;
  left: 0;
  background: whitesmoke;
  border-top: 1px solid #E2E8F0;
  .icon-wrapper {
    color: $df-gray-900;
    font-size: 26px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    &:hover {
      color: whitesmoke;
      background-color: $df-gray-900;
      border-radius: 70%;
      text-decoration: none;
    }

  }
  a {
    text-decoration: none;
    color: inherit;
  }
}
