<footer>
  <div class="df-display-flex df-flex-justify-flex-end df-height-full df-flex-align-center">
      <div class="space df-color-black">
          Made with &#x2665; by
        <a href="https://fatihtoker.com" target="_blank">
          Fatih Toker
        </a>
      </div>
        <a class="icon-wrapper df-display-flex df-flex-justify-center df-flex-align-center" href="https://www.instagram.com/df_handcraft/" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
        <a class="icon-wrapper df-display-flex df-flex-justify-center df-flex-align-center" href="https://www.facebook.com/FortuneDilhayat-210972519817324/" target="_blank">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a class="icon-wrapper df-display-flex df-flex-justify-center df-flex-align-center">
          <i class="fa fa-whatsapp"></i>
        </a>

  </div>
</footer>
